.score {
    font-size: medium;
}

.container {
    max-width: 750px;
}

.chat-panel {
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

/*.circle-icon {
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    width: 64px;
    height: 64px;
    border-radius: 50px;
}*/

.your-message {
    background-color: #67b168;
    float: right;
}

.opp-message {
    background-color: #46b8da;
}

.center-block {
    display: table-cell;
    vertical-align: middle;
}

.message-style {
    border-radius: 4px;
    padding: 5px;
    max-width: 95%;
    display: inline-block;
    overflow: visible;
}

.media {
    margin-top: 10px;
}

html, body {
    height: 100%;
    width: 100%;
    min-width: 500px;
}

body {
    display: table;
}